<div class="row g-3">
    <div class="col-sm-4">
        <div class="form-floating">
            <input type="date" name="Fecha" class="form-control" id="floatingInputGrid" placeholder="Fecha de suceso">
            <label for="floatingInputGrid">Fecha de suceso</label>
        </div>
    </div>
    <div class="col-sm-5"></div>
    <div class="col-sm-3">
        <div class="form-floating">
            <select class="form-select" name="TipoMascota" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected value="">Abrir selección</option>
                <option value="Perro">Perro</option>
                <option value="Gato">Gato</option>
                <option value="Otro">Otro</option>
            </select>
            <label for="floatingSelectGrid">Tipo de Mascota</label>
        </div>
    </div>
</div>
<br>
<div class="row g-3">
    <div class="col-sm-7">
        <div class="form-floating">
            <input type="text" name="Nombre" class="form-control" id="floatingInputGrid" placeholder="Nombre Mascota">
            <label for="floatingInputGrid">Nombre Mascota</label>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-floating">
            <input type="number" name="Edad" class="form-control" id="floatingInputGrid" placeholder="Edad">
            <label for="floatingInputGrid">Edad</label>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-floating">
            <select class="form-select" name="Sexo" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected value="">Abrir selección</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select>
            <label for="floatingSelectGrid">Sexo de mi mascota</label>
        </div>
    </div>
</div>
<br>