<div class="row g-3">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-floating">
            <input type="text" name="nombre" class="form-control" id="floatingInputGrid" placeholder="Nombre">
            <label for="floatingInputGrid">Nombre</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-floating">
            <input type="text" name="profesion" class="form-control" id="floatingInputGrid" placeholder="profesion">
            <label for="floatingInputGrid">Profesión</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-floating">
            <input type="text" name="pais" class="form-control" id="floatingInputGrid" placeholder="pais">
            <label for="floatingInputGrid">Pais</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="form-floating">
            <textarea class="form-control" name="resenia" aria-label="With textarea" id="floatingInputGrid" placeholder="resenia"></textarea>
            <label for="floatingInputGrid">Resenia</label>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div>
            <label for="formFile" class="form-label">Agrega una imagen</label>
            <input class="form-control" type="file" name="imagen" id="imagen" required>
        </div>
    </div>
</div>
<br>