<div class="card text-center">
    <div class="card-image">
        <p class="h1"><%= Subtitulo %></p>
        <figure class="image">
            <img  src="https://source.unsplash.com/300x300?pets" alt="Placeholder image">
        </figure>
        <p class="lead">
            Imagen random de mascotas
        </p>
    </div>
</div>