<header>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <div class="container-fluid">
            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/dogs">Perros</a></li>
                <li class="nav-item"><a class="nav-link" href="/cats">Gatos</a></li>
                <li class="nav-item"><a class="nav-link" href="/aboutme">About Me</a></li>
            </ul>
            <a class="navbar-brand" href="#">
                <img src="/images/avatar.jpg" alt="Avatar Logo" style="width:50px;" class="rounded-pill"> 
            </a>
        </div>
    </nav>
</header>
<br>
<br>